global
    user root
    group root
    # Stats required for this module to work
    # https://github.com/observing/haproxy#haproxycfg
    stats socket /tmp/haproxy.sock level admin

defaults
    log     global
    mode    tcp
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    frontend arangodb
        bind :80
        default_backend arangodb

    backend arangodb
      stick-table type ip size 10k expire 30m
      stick on src
      ### COORDINATORS ###
